[Unit]
Description=ASF Agenda Tool

[Service]
Type=simple
WorkingDirectory=/opt/agenda/server
ExecStart=/usr/local/bin/pipenv run python3 main.py
Restart=always
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
